body {

    display: flex;                /* Enable Flexbox on body */
    justify-content: center;      /* Center horizontally */
    align-items: center;          /* Center vertically */
    height: 100vh;                /* Full viewport height */

  }



.inner{
    height:690px;
    width:600px;
    text-align: center;
    margin-top:15px;
    background-color:whitesmoke;
    }
    
    
    .fom{
        margin:0 auto;
        padding:20px;
        align-items:center;
        line-height:2.4rem;
        border-radius:100rem;
        
        
    }
    
    
    h1{
        margin-left:0%;
        margin-top:20px;
        font-family: "Oleo Script Swash Caps", system-ui;
        font-size:250%;
    }
    

    button{
        width:17rem;
        padding:6px;
        background-color:rgb(13, 13, 13);
        color:azure;
        border:none;
        
    
    }
    button:hover{
        cursor: pointer;
        background-color:rgb(64, 149, 168);
    }
    
    .para{
    line-height:20px;
    margin-left:10px !important;
    margin-top:20px !important;
    text-align: center;
    
    }

    .terms{
    line-height:20px;
    text-align: center;
    margin-left:8px;
    margin-top: 0px;
    
}